--cor-de-fundo: #1E1E1E;
}
:root{
    --cor-de-fundo: #1E1E1E; #1E1E1E;
    --verde: #6FFF57; #6FFFF57
    --branco: #FFFFFF;
    --botao-ativo: #3A375E; #3A375A
    --botao-inativo: rgba(58,55,94,o.1)
    --texto-fundo: rgba(58,55,94,0.3)
}
import url('https://fonts.googleapis.com
/css2?family-Chakra+Petch:w ght@400:700&display=swap'); 
    
body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', sans-serif;
}

.ativo{
background-color: var(--botao-ativo);
border-bottom: 4px solid var(--verde);
}
    
.titulo-principal span {
    color: var(--verde);
}

.botao {
    font-family: "Crakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
}

.botoes {
    display: block;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    border-bottom: 4px solid var(--botao-ativo); 
    border-left: 2px solid var(--botao-ativo); 
    border-right: 2px solid var(--botao-ativo); 
    border-top: none;
